# Core data
pandas>=2.2
numpy>=1.26
matplotlib>=3.8
seaborn>=0.13

# Machine Learning
scikit-learn>=1.4
xgboost>=2.0
lightgbm>=4.3
shap>=0.45

# Dashboard
streamlit>=1.32

# Utilitaires
joblib>=1.4
jupyter>=1.0

# Tests
pytest>=8.4